* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal:#F5F5F5;
}
body{
    background-color:var(--cor-principal);
    box-sizing: border-box  ;
}

.title{
    padding-top: 5% ;

    
}
.title h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    font-family: "Abril Fatface", serif;
    font-weight: 600;
    font-style: normal;
}
.title-cadastro{
    padding: 10px;
}

.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa-texto{
    background-color: #FFFFFF;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
}

.caixa-texto label{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa-texto input{
    background-color: var(--cor-principal);
    padding: 15px;
    border-radius: 5px;
    border-color: #7c7b7b;
}

.caixa-texto select{
    background-color: var(--cor-principal);
    border-radius: 5px;
    padding: 5px;
    margin-right: 70%;
    border-color: #7c7b7b;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #02a002;
    color: #F5F5F5;
    font-family: Arial;
    font-weight: 400;
    border: none;
    width: 200px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 1px;
    
}

button:hover {
    background-color: #41b341; /* Cor de fundo do botão quando hover */
  }

.botao{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}