* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal:#F5F5F5;
}
body{
    background-color:var(--cor-principal);
    box-sizing: border-box  ;
}

.title{
    padding-top: 5% ;

    
}
.title h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    font-weight: bold;
}
.title-cadastro{
    padding: 10px;
}

.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa-texto{
    background-color: #FFFFFF;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
}

.caixa-texto label{
    margin: 5px 0px;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa-texto input{
    background-color: var(--cor-principal);
    padding: 10px;
    border-radius: 5px;
    border-color: #7c7b7b;
}

.caixa-texto select{
    background-color: var(--cor-principal);
    border-radius: 5px;
    padding: 5px;
    margin-right: 70%;
    border-color: #7c7b7b;
}

button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #02a002;
    font-family: Arial;
    font-weight: 400;
    border: none;
    width: 150px;
    
}

.botao{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}